<launch>

  <arg
    name="port"
    default="/dev/ttyACM0" />

  <node
    name="DobotServer"
    pkg="dobot"
    type="DobotServer"
    args="/dev/ttyACM0"
    required="true"
    output="screen" />

  <node
    name="PosePublisher"
    pkg="dobot"
    type="PosePublisher"
    output="screen"
    launch-prefix=" gnome-terminal --title='PosePublisher' -e "/>

   <node
    name="PTPCommandClient"
    pkg="dobot"
    type="PTPCommandClient"
    output="screen"
    launch-prefix=" gnome-terminal --title='PTPCommandClient' -e "/>

    <node
    name="PTPGoalListener"
    pkg="dobot"
    type="PTPGoalListener"
    output="screen"
    launch-prefix=" gnome-terminal --title='PTPGoalListener' -e "/>

</launch>


